body {
    margin: 0;
    background-image: url(download.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header {
    background-color:gold;
    color: black;
    padding: 15px;
    font-size: 25px;
}
.gallery-container {
    width: 350px;
    margin: 40px auto;
    background: gold;
    padding: 20px;
    border-radius: 12px;
    border: 7px solid brown;

}

.gallery-container img {
    width: 70%;
    height: 300px;
    object-fit: fit;
    border-radius: 10px;
    border: 5px solid green;
}

#caption {
    margin: 12px 0;
    font-weight: bold;
        
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 8px 20px;
    margin: 5px;
    border:none;
    background-color:cyan;
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #09fc46;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:violet;
    color:black;
    padding: 10px;
    font-size: 14px;
}